# Εξαίρεση αρχείων που περιέχουν κωδικούς
*.bak
*.log
*.json
*.csv
*.sh


# Εξαίρεση συγκεκριμένων φακέλων

AVAX/backup/
BITCOIN/backup/
DOGECOIN/backup/
EXCEL/
SOLANA/backup/
ETHEREUM/templates
ETHEREUM/__pycache__
ETHEREUM/2.txt
ETHEREUM/3.txt
ETHEREUM/4.txt
ETHEREUM/app.py
